// Variables

// Colors
$primary-color: #DAECF2;
$theme-color: #242323;
$red: orangered;

// Media
$tablet: "screen and (min-width: 768px)";
$tablet-max : "screen and (max-width: 767px)";
$desktop: "screen and (min-width: 992px)";
$large: "screen and (min-width: 1200px)";
