// Variables

// Colors
$primary-color: #666;
$white: #fff;
$theme-color: #e0c7c5;
$gray: #ccc;

// Media
$tablet: "screen and (min-width: 768px)";
$desktop: "screen and (min-width: 992px)";
$large: "screen and (min-width: 1200px)";
